header{
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width : 100%;
    
}

.nav-menus {

    background-color: skyblue;
    padding : 10px 10px 10px 10px;
    text-align: right;
}

.content{
    width: 80%;
    margin: auto;
}

.search-form button {
    float: right;
    width: 6%;
    background: #2196F3;
    color: white;
    font-size: relative;
    border: 1px solid black;
    border-radius: 0.375rem;
    cursor: pointer;
    margin-left: 0.5%;
}

.form-input {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid black;
    border-radius: 0.375rem;

}

.buttons{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333333; */
}

.number-button{
    float:left;
}

.number-button > a{
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid white;
    background-color: skyblue;
}

.number-button > a:hover{
    background-color: orange;
    /* color: white; */
}

.card > img {
    height : 214.1px;
}

.content > div{
    padding: 3%;

}